/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    /* Altura del logo */
}

.search-bar {
    flex-grow: 1;
    /* Expandir para ocupar espacio disponible */
    margin: 0 20px;
    /* Margen a los lados */
}

.search-bar input {
    width: 100%;
    /* Ancho completo */
    padding: 8px;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Bordes redondeados */
}

/* Estilos para el carrito */
.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon img {
    height: 40px;
    /* Ajusta el tamaño del icono del carrito */
}

.cart-count {
    position: absolute;
    top: -5px;
    /* Ajusta la posición vertical */
    right: -10px;
    /* Ajusta la posición horizontal */
    background-color: rgb(117, 117, 117);
    color: rgb(13, 13, 13);
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 14px;
}

/* Estilo del menú de usuario */
.user-menu {
    display: flex; /* Alinear elementos en fila */
    align-items: center; /* Centrar verticalmente */
  }
  
  /* Estilo de la imagen del perfil como botón */
  .user-avatar {
    width: 40px; /* Ancho del avatar */
    height: 40px; /* Alto del avatar */
    border-radius: 50%; /* Hacer el avatar circular */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    margin-left: 20px; /* Espaciado a la izquierda */
  }
  
  /* Estilo del contenido del menú desplegable */
.dropdown {
    position: relative; /* Posicionar el contenedor */
  }
  
  /* Estilo del contenido del menú desplegable */
  .dropdown-content {
    display: none; /* Ocultar el menú por defecto */
    position: absolute; /* Posicionar absolutamente */
    background-color: white; /* Fondo blanco */
    min-width: 160px; /* Ancho mínimo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    z-index: 1; /* Asegurar que el menú esté por encima */
    right: 0; /* Alinear el menú a la derecha */
   
  }
  
  /* Mostrar el menú al hacer clic en el botón */
  .dropdown:hover .dropdown-content,
  .dropdown-content.show {
    display: block; /* Mostrar el menú */
  }
  
  /* Estilo de los enlaces en el menú desplegable */
  .dropdown-content a {
    color: #333; /* Color del texto */
    padding: 12px 16px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Mostrar como bloque */
    cursor: pointer;
  }
  
  /* Efecto hover para los enlaces del menú desplegable */
  .dropdown-content a:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
  }