<div class="navbar">
    <div class="logo">
        <img src="" alt="Logo de la Tienda" />
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar productos..." (input)="filterProducts($event)" />
    </div>
    <div class="cart-icon" (click)="openCart()">
        <img src="assets/imagenes/carrito-de-compras.png" alt="Carrito" />
        <span class="cart-count">{{ cartService.getCartCount() }}</span> <!-- Contador de productos -->
    </div>
    <div class="user-menu">
        <div class="dropdown">
            <img src="assets/imagenes/usuario.png" alt="Perfil de usuario" class="user-avatar" (click)="toggleDropdown()" />
            <div class="dropdown-content">
                <a (click)="cerrarSesion()">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </a>
            </div>
        </div>
    </div>
</div>
